<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Z</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div th:fragment="user-panel" class="col-md-2 offset-md-1 text-center">
    <br/> <br/> <br/>
    <h1>Your profile</h1>
    <br />
    <div class="card shadow rounded">
        <h1 class="card-header text-center" th:text="${currentUser.username}"><strong></strong></h1>
        <div class="card-body">

            <div class="card-text">First name:
                <span class="card-text" th:text="${currentUser.firstName}"></span>
            </div>

            <div class="card-text">Last name:
                <span class="card-text" th:text="${currentUser.lastName}"></span>
            </div>

            <div class="card-text">Email:
                <span class="card-text" th:text="${currentUser.email}"></span>
            </div>

            <div class="card-text">Followers:
                <span class="card-text" th:text="${#lists.size(currentUser.followers)}"></span>
            </div>
            <div class="card-text">Following:
                <span class="card-text" th:text="${#lists.size(currentUser.following)}"></span>
            </div>

            <br />

            <form class="text-center card-text" method="post" th:action="@{/Z/editProfile/{userId}(userId=${currentUser.id})}">
                <button class="btn btn-info" type="submit">Edit Profile</button>
            </form>

            <br />
            <form method="post" th:action="@{/Z/viewProfile/{userId}(userId=${currentUser.id})}">
                <button class="btn btn-secondary" type="submit">View Profile</button>
            </form>
            <br />
            <form method="post" th:action="@{/Z/deleteProfile}">
                <button class="btn btn-danger" type="submit">Delete Profile</button>
            </form>
        </div>
    </div>

</div>
<div th:fragment="user-list" class="col-md-2 offset-md-1">
    <br/> <br/> <br/>
    <div class="card shadow rounded">
        <div class="card-header text-center">User Search</div>

        <div class="card-body text-center">
            <form method="post" th:action="@{/Z/searchUser}">
                <input class="form-control" type="text" placeholder="username/ first or last name" th:name="searchValue"/>
                <br/><br/>
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
    </div>
    <br/><br/>
    <h3 th:if="${#lists.isEmpty(searchResults)}" class="text-center">Suggestions:</h3>
    <h3 th:unless="${#lists.isEmpty(searchResults)}" class="text-center">Search results:</h3>

    <br />

    <div th:with="uu = (${#lists.isEmpty(searchResults)} ? ${users} : ${searchResults})">
        <div th:each="u:${uu}">
            <div class="card shadow rounded">
                <h2 class="card-header text-center" th:text="${u.username}"><strong></strong></h2>
                <div class="card-body">
                    <form method="post" th:action="@{/Z/follow/{userId}(userId=${u.id})}">
                        <div th:unless="${#lists.contains(currentUser.following, u.id)}">
                            <button class="btn btn-success float-start" type="submit">Follow</button>
                        </div>
                        <div th:if="${#lists.contains(currentUser.following, u.id)}">
                            <button class="btn btn-success float-start" type="submit">Unfollow</button>
                        </div>
                    </form>
                    <form method="post" th:action="@{/Z/viewProfile/{userId}(userId=${u.id})}">
                        <button class="btn btn-secondary float-end" type="submit">View Profile</button>
                    </form>
                    <br />
                </div>
            </div>
            <br />

        </div>
    </div>
</div>


</body>
</html>