<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Z</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>

<div th:replace="~{common/navbar::navbar}">Navbar Error</div>

<div class="container-fluid">
    <div class="row">

        <div th:replace="~{common/user-management::user-panel}">User error</div>

        <div class="col-md-4 offset-md-1">

            <div class="card-header">
                <div th:if="${currentPost.creator}==${currentUser.username}" class="clearfix">
                    <div class="float-start">
                        <form method="post" th:action="@{/Z/news/singlePost/edit/{postId}(postId=${currentPost.id})}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                    </div>
                    <div class="float-end">
                        <form method="post" th:action="@{/Z/news/delete/{postId}(postId=${currentPost.id})}">
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>

                </div>
                <h2 class="text-center" th:text="${currentPost.creator}"><strong></strong></h2>
                <div class="text-center" th:text="${currentPost.lastUpdated}"></div>
            </div>

            <div class="card-body">

                <div th:unless="${param.edit}">
                    <div class="card-text" th:text="${currentPost.content}"></div>
                </div>

                <form method="post" th:action="@{/Z/news/singlePost/like/{postId}(postId=${currentPost.id})}">
                    <button class="btn btn-secondary" type="submit">Like Post :
                        <span class="card-text" th:text="${#lists.size(currentPost.likes)}"></span>
                    </button>
                </form>

                <div th:if="${param.edit}">
                    <div class="card-body">

                        <form method="post" th:action="@{/Z/news/singlePost/submitEdition/{postId}(postId=${currentPost.id})}" th:object="${currentPost}">
                            <textarea class="card-text" rows="10" cols="55" th:field="*{content}" th:text="${currentPost.content}"></textarea>
                            <button class="btn btn-primary" type="submit">Submit Post Edition</button>
                        </form>
                    </div>
                </div>

                <br /> <br /> <br />

                <div th:each="c:${currentPost.comments}">
                    <div class="card-header">

                        <div th:unless="${param.editComment}">
                            <div th:if="${currentUser.username}==${c.username}" class="clearfix">
                                <div class="float-start">
                                    <form method="post" th:action="@{/Z/news/singlePost/{postId}/editComment/{commentId}(postId=${currentPost.id},commentId=${c.id})}">
                                        <button class="btn btn-primary" type="submit">Edit Comment</button>
                                    </form>
                                </div>
                                <div class="float-end">
                                    <form method="post" th:action="@{/Z/news/singlePost/{postId}/deleteComment/{commentId}(postId=${currentPost.id},commentId=${c.id})}">
                                        <button class="btn btn-danger" type="submit">Delete Comment</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <h2 class="text-center" th:text="${c.username}"><strong></strong></h2>
                        <div class="text-center" th:text="${c.lastUpdated}"><strong></strong></div>
                    </div>
                    <div class="card-body">

                        <div class="card-text" th:text="${c.content}"></div>

                        <form method="post" th:action="@{/Z/news/singlePost/{postId}/likeComment/{commentId}(postId=${currentPost.id},commentId=${c.id})}">
                            <button class="btn btn-secondary" type="submit">Like Comment :
                                <span class="card-text" th:text="${#lists.size(c.likes)}"></span>
                            </button>
                        </form>


                        <div th:if="${param.editComment}">

                            <div th:if="${c.id}==${currentComment.id}">
                                <div class="card-header">
                                    <h4>Edit:</h4>
                                </div>
                                <div class="card-body">
                                    <form method="post" th:action="@{/Z/news/singlePost/submitEdition/{postId}/comment/{commentId}(postId=${currentPost.id},commentId=${c.id})}"
                                          th:object="${currentComment}">
                                        <textarea class="card-text" rows="10" cols="55" th:field="*{content}" th:text="*{content}"></textarea>
                                        <button class="btn btn-secondary" type="submit">Submit comment edition</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row" th:unless="${param.editComment}">
                <div class="card-header">
                    <h4>Edit:</h4>
                </div>
                <div class="card-body">
                    <form method="post" th:object="${comment}" th:action="@{/Z/news/singlePost/comment/{postId}(postId=${currentPost.id})}">
                        <textarea class="card-text" rows="10" cols="55" th:field="*{content}"></textarea>
                        <button class="btn btn-secondary" type="submit">Submit a comment</button>
                    </form>
                </div>

            </div>
        </div>
        <div th:replace="~{common/user-management::user-list}">User List Error</div>

    </div>
</div>
</body>
</html>